/ShapeColor.class
/ShapeShadingType.class
/ShapeType.class
/StartAndEndPointMode.class
/Shapes.class
/CommandHistory.class
/IUndoRedo.class
/Shape.class
/Rectangle.class
/ShapeFactory.class
/ShapePosition.class
/ShapeRectangle.class
/ShapeList.class
/ShapeOpts.class
